* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*reset simple des tyles prédéfinis:*/
input, button, textarea, select, fieldset {
	appearance: none;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

:root {
	--main: rgb(26, 25, 28);
	--main-muted: rgba(26, 25, 28, .5);
	--opposite: rgb(227, 226, 229);
	--opposite-L1: rgba(227, 226, 229, .05);
	--opposite-L2: rgba(227, 226, 229, .2);
	--opposite-L2-0: rgba(227, 226, 229, 0);
	--color-1a: #9969ff;
	--color-1b: #b795ff;
	--bg: var(--color-1a);
	--btn: var(--color-1b);
	--btn-bg: var(--main);
	--error: darkred;
	--error-bg: rgba(255, 0, 0, .2);
	--theme-icon: url("../img/moon.svg");
	--opacity-bg: .35;
	--logo-bg: url("../img/space10-logo-light.svg");
	--radius: 10px;
	--transition: .25s ease; 
}

html.dark {
	--main: rgb(227, 226, 229);
	--main-muted: rgba(227, 226, 229, .5);
	--opposite: rgb(26, 25, 28);
	--opposite-L1: rgba(26, 25, 28, .2);
	--opposite-L2: rgba(26, 25, 28, .3);
	--opposite-L2-0: rgba(26, 25, 28, 0);
	--bg: #333;
	--btn: var(--main);
	--btn-bg: var(--color-1a);
	--error: red;
	--theme-icon: url("../img/sun.svg");
	--opacity-bg: .2;
	--logo-bg: url("../img/space10-logo-dark.svg");
}

::selection {
	background-color: var(--color-1a);
	color: var(--opposite);
}
/*html.dark ::selection {
	background-color: var(--color-1a);
	color: var(--opposite);
}*/

html, body {
	width: 100%;
	height: 100%;
	color: var(--main);
	font-family: "IBM Plex Mono", sans-serif;
	background-color: var(--bg);
	transition: background-color var(--transition), color var(--transition);
	position: relative;
	z-index: 1;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	background: url("../img/01-trame.svg") no-repeat center / cover,
		var(--logo-bg) no-repeat center bottom 33% / 50%;
	opacity: var(--opacity-bg);
}

/*#region*MARK: header
*/
header {
	/*background-color: rgba(124, 252, 0, .5);*/
	min-height: fit-content;
	padding: 2vw;
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 1;
}

header::before {
	content: "";
	position: absolute;
	inset: 0 0 -50% 0;
	background: linear-gradient(to bottom,
		var(--opposite-L2) 41.5%,
		var(--opposite-L2-0) 100%);
	z-index: -1;
}

header h1 {
	/*background-color: red;*/
	width: 100%;
	line-height: 4vw;
	text-align: center;
	vertical-align: bottom;
}

#themeToggle {
	/*color: var(--btn);
	background-color: var(--btn-bg);*/
	position: relative;
	width: calc(1.5rem + 2vw);
	height: calc(1.5rem + 2vw);
	padding: 1vw;
	border: .1rem solid transparent;
	/*background: var(--theme-icon) no-repeat center / cover;*/
	cursor: pointer;
	background: none;
	overflow: hidden;
	border-radius: var(--radius);
}

#themeToggle::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: var(--btn-bg);
}

#themeToggle::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 0;
	background-color: var(--btn);
	mask: var(--theme-icon) no-repeat center / 80%;
	-webkit-mask: var(--theme-icon) no-repeat center / 80%;
	transition: background-color .25s ease;
}

#themeToggle:hover::after,
#themeToggle:focus::after {
	/*color: var(--opposite);*/
	background-color: var(--opposite);
}
html.dark #themeToggle:hover::before,
html.dark #themeToggle:focus::before {
	background-color: var(--color-1b);
}
/*#endregion*/

/*/////////////////////////////////////////////////////////////////////////*/

#app {
	/*background-color: orange;*/
	width: 100%;
	height: 100%;
	padding: 2px;
	/*border: 2px var(--text-muted) solid;
	border-radius: calc(2vw + 4px);*/
	display: flex;
	justify-content: center;
	align-items: center;
}

/*#region*MARK: auth
*/
#auth {
	background-color: var(--opposite-L2);
	padding: 2vw;
	/*border: 2px var(--text-muted) solid;*/
	border-radius: 1vw;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	transform: translateY(-4vw);
}

#auth h1 {
	/*background-color: rgba(255, 69, 0, .2);*/
	border-bottom: .18rem solid var(--main);
	font-size: 3rem;
	padding-bottom: .2vw;
	margin-bottom: .5vw;
}

#auth fieldset {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*#username,
#password*/
#auth input {
	/*background-color: var(--opposite-10);*/
	font-size: 1rem;
	border-width: .1rem;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: var(--opposite-L2);
	border-left-color: var(--opposite-L2);
	padding: 1vw;
	margin-right: .5vw;
}
#auth input:focus,
#loginBtn:focus,
header button:focus {
	outline: none;
	border-color: var(--opposite-L2);
}
#auth input:focus {
	background-color: var(--opposite-L1);
}
#auth input::placeholder {
	color: var(--main-muted);
	opacity: 1; /* Chrome met 0.54 par défaut */
	mix-blend-mode: multiply;
}

#loginBtn {
	color: var(--btn);
	background-color: var(--btn-bg);
	/*line-height: 4vw;*/
	font-size: 1rem;
	padding: 1vw;
	border: .1rem solid transparent;
}
#loginBtn:hover,
#loginBtn:focus {
	color: var(--opposite);
}

html.dark #loginBtn:hover,
html.dark #loginBtn:focus {
	background-color: var(--color-1b);
}
/*#endregion*/

#error p {
	background-color: var(--error-bg);
	margin-top: .5vw;
	padding: .5vw 0;
	/*border-top: .2rem solid rgb(197, 0, 0);*/
	text-align: center;
	color: var(--error);
	font-weight: bolder;
	letter-spacing: .5vw;
}

/*#region*MARK: media queries
*/
@media screen and (max-width: 550px) {
	header h1 {
		line-height: 4vh;
		font-size: 1.8rem;
		text-align: center;
		/*background-color: brown;*/
	}
	#themeToggle {
		width: 3.2rem;
		height: 3.2rem;
	}
	#auth {
		width: 94%;
	}
	#auth h1 {
		font-size: 2.6rem;
	}
	#auth input {
		width: 37%;
		font-size: 1rem;
		padding: .6rem;
	}
	#loginBtn {
		font-size: 1.2rem;
		padding: .5rem;
	}
}
/*#endregion*/
