* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*reset simple des tyles prédéfinis:*/
input, button, textarea, select, fieldset {
	appearance: none;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

:root {
	--main: rgb(26, 25, 28);
	--main-muted: rgba(26, 25, 28, .5);
	--opposite: rgb(227, 226, 229);
	--opposite-L1: rgba(227, 226, 229, .1);
	--opposite-L2: rgba(227, 226, 229, .2);
	--color-1a: #9969ff;
	--color-1b: #b795ff;
	--bg: var(--color-1a);
	--btn: var(--color-1b);
	--btn-bg: var(--main);
	--error: darkred;
	--error-bg: rgba(255, 0, 0, .2);
	--theme-icon: url("../img/moon.svg");
	--opacity-bg: .35;
	--radius: 10px;
	--transition: 0.25s ease; 
}

html.dark {
	--main: rgb(227, 226, 229);
	--main-muted: rgba(227, 226, 229, .5);
	--opposite: rgb(26, 25, 28);
	--opposite-L1: rgba(26, 25, 28, .2);
	--opposite-L2: rgba(26, 25, 28, .3);
	--bg: #333;
	--btn: var(--main);
	--btn-bg: var(--color-1a);
	--error: red;
	--theme-icon: url("../img/sun.svg");
	--opacity-bg: .2;
}

::selection {
	background-color: var(--color-1a);
	color: var(--opposite);
}
/*html.dark ::selection {
	background-color: var(--color-1a);
	color: var(--opposite);
}*/

html, body {
	width: 100%;
	height: 100%;
	color: var(--main);
	font-family: "IBM Plex Mono", sans-serif;
	background-color: var(--bg);
	transition: background-color var(--transition), color var(--transition);
	position: relative;
	z-index: 1;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	background: url(../img/01-trame.svg) no-repeat center / cover;
	opacity: var(--opacity-bg);
}

/*#region*MARK: header
*/
header {
	/*background-color: rgba(124, 252, 0, .5);*/
	min-height: fit-content;
	padding: 2vw;
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 1;
}

header::before {
	content: "";
	position: absolute;
	inset: 0 0 -50% 0;
	background: linear-gradient(to bottom,
		var(--opposite-L2) 41.5%,
		transparent 100%);
	z-index: -1;
}

header h1 {
	/*background-color: red;*/
	width: 100%;
	line-height: 4vw;
	text-align: center;
	vertical-align: bottom;
}

#themeToggle,
#logoutBtn {
	position: relative;
	width: calc(1.5rem + 2vw);
	height: calc(1.5rem + 2vw);
	padding: 1vw;
	border: .1rem solid transparent;
	cursor: pointer;
	background: none;
}

#themeToggle::before,
#logoutBtn::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: var(--btn-bg);
}

#themeToggle::after,
#logoutBtn::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 0;
	background-color: var(--btn);
	transition: background-color .25s ease;
}

#themeToggle::after {
	mask: var(--theme-icon) no-repeat center / 80%;
	-webkit-mask: var(--theme-icon) no-repeat center / 80%;
}

#logoutBtn::after {
	mask: url("../img/power.svg") no-repeat center / 73%;
	-webkit-mask: url("../img/power.svg") no-repeat center / 73%;
}

#themeToggle:hover::after,
#themeToggle:focus::after,
#logoutBtn:hover::after,
#logoutBtn:focus::after {
	/*color: var(--opposite);*/
	background-color: var(--opposite);
}
html.dark #themeToggle:hover::before,
html.dark #themeToggle:focus::before,
html.dark #logoutBtn:hover::before,
html.dark #logoutBtn:focus::before {
	background-color: var(--color-1b);
}

#logoutBtn {
	margin-left: .5vw;
}
/*#endregion*/

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

/*#region*MARK: card
*/
.card {
	background-color: var(--opposite-L1);
	padding: 1.5rem;
	border-radius: var(--radius);
	margin: 0 1vw 2vw 1vw;
	border: .1rem solid var(--opposite-L2);
	transition: background-color var(--transition), border var(--transition);
}

.card:hover {
	background-color: var(--opposite-L2);
	border-color: transparent;
}

.card fieldset {
	/*background-color: rgba(255, 69, 0, .2);*/
	display: flex;
	padding: .1vw;
	margin-bottom: .1vw;
	align-items: center;
}

.card h2 {
	/*background-color: purple;*/
	border-bottom: .12rem solid var(--main);
	padding-bottom: .2vw;
	margin-bottom: .1vw;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.card > :nth-child(2),
.card > :nth-child(3),
.card > :nth-child(4) {
	/*background-color: rgb(6, 79, 224);*/
	margin-top: .5vw;
}

.card h3 {
	/*background-color: lime;*/
	padding: .2vw 0;
	font-size: small;
	margin-left: 1vw;
}

.card p {
	/*display: inline;*/
	/*background-color: aqua;*/
	margin-left: 1vw;
	line-height: 2vw;
}

#userInfo span {
	margin-left: .8vw;
	font-style: italic;
}

main {
	display: flex;
	flex-wrap: wrap;
	padding: 1vw;
	width: 100%;
}

main > div:nth-child(1),
main > div:nth-child(2) {
	width: min(100%, 500px);
	/*background-color: yellowgreen;*/
}
main > div:nth-child(3),
main > div:nth-child(4) {
	width: min(100%, calc(1000px + 2vw));
	/*background-color: limegreen;*/
}
/*#endregion*/

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/

/*#region*MARK: graphs
*/
svg {
	width: 100%;
	height: 220px;
	overflow: visible;
}

/*svg text {
	fill: var(--main);
	font-family: "IBM Plex Sans";
	transition: fill var(--transition);
}*/

/*svg line {
	stroke: #555;
	transition: stroke var(--transition);
}*/

#passFailChart > circle:nth-child(1) {
	color: var(--btn-bg);
}
#passFailChart > circle:nth-child(2) {
	color: var(--error-bg);
}
#passFailChart > text {
	fill: var(--main);
}

#xpTimeLine {
	width: 100%;
}
#xpTimeLine > line {
	color: var(--main-muted);
}
#xpTimeLine :nth-child(3) {
	color: var(--main);
}

#xpProjectsChart > rect {
	color: var(--btn-bg);
}
#xpProjectsChart > text {
	fill: var(--opposite);
}
/*#endregion*/


/*redo some select whatev*/
#concerts select,
.miniDisplay {
	/*background-color: rgb(121, 148, 109);*/
	background: linear-gradient(to bottom,
		hsl(182, 7%, 69%) 0%,
		hsl(182, 7%, 60%) 50%,
		hsl(182, 7%, 53%) 100%);
}

#concerts select {
	width: 80%;
	margin-bottom: 4px;
}

#concerts select option {
	background-color: hsl(182, 7%, 60%);
}

/*#region*MARK: media queries
*/
@media screen and (max-width: 550px) {
	header h1 {
		line-height: 4vh;
		font-size: 1.8rem;
		text-align: center;
		/*background-color: brown;*/
	}
	#themeToggle,
	#logoutBtn {
		width: 3.2rem;
		height: 3.2rem;
	}
	#auth {
		width: 94%;
	}
	#auth h1 {
		font-size: 2.6rem;
	}
	#auth input {
		width: 37%;
		font-size: 1rem;
		padding: .6rem;
	}
	#loginBtn {
		font-size: 1.2rem;
		padding: .5rem;
	}
	.card h2 {
		margin-bottom: .8vh;
	}
	.card > :nth-child(2),
	.card > :nth-child(3),
	.card > :nth-child(4) {
		margin-top: 1.8vh;
	}
}
/*#endregion*/